<h1>Reviews Page</h1>
<h4><% if !!flash[:message] %> <%= flash[:message] %> <% end %></h4>
<% @reviews.each do |r| %>
  <h3><a href="/users/<%=r.user.id%>"><%=r.user.username%></a>'s Review of <%=r.show.date_string + " - " + r.show.city%></h3>
  <p><%=r.text%></p>
  <% if r.user.id==current_user.id %>
  <p><a href="/reviews/<%=r.id%>/edit">Edit Review</a></p>
  <p><a href="/reviews/<%=r.id%>/delete">Delete Review</a></p>
  <% end %>
<% end %>
